*, .xor.viewport, .xor.threePanel
{
    position:absolute;
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    overflow:hidden;
}

.xor.threePanel
{
    background-image: linear-gradient(top, rgb(0,0,0) 60%, rgb(34,34,34) 85%);
    background-image: -o-linear-gradient(top, rgb(0,0,0) 60%, rgb(34,34,34) 85%);
    background-image: -moz-linear-gradient(top, rgb(0,0,0) 60%, rgb(34,34,34) 85%);
    background-image: -webkit-linear-gradient(top, rgb(0,0,0) 60%, rgb(34,34,34) 85%);
}